/* 
    Created on : 3 de dez de 2020, 10:46:17
    Author     : entra21
*/
body{






layout pag inicio



button{
background-color: blue;
color: white;
}

.error{
    color: red;
    font-style: italic;
}

header{
    background-color: red;
    margin: 2px;
    padding: 2px;
    text-align: center;
    font-size: 35px;
    color: red;
}

footer{
    background-color: silver;
    padding: 10px;
    text-align: center;
    color: red;
}
}
